body {
  margin: 0;
}
.lunaroja {
  font-family: Helvetica, Arial, Serif;
  color: #999;
}
.lunaroja h1 {
  text-align: left;
  max-width: 1090px;
  margin: 1rem auto;
  display: block;
}
.lunaroja p {
  text-align: left;
  font-size: 36px;
  line-height: 1.166;
  max-width: 780px;
  font-weight: bold;
  padding: 0 12px;
  margin: 2rem auto;
}
@media (max-width: 600px) {
  .lunaroja p {
    font-size: 21px;
  }
}
.lunaroja p strong {
  color: #B82d2d;
}
.lunaroja p a {
  color: #B82d2d;
}
